@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  color: #545454;
  font-family: "Open sans", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.oh-content h1 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 25px;
  background: #cb356b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bd3f32,
    #cb356b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bd3f32,
    #cb356b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.oh-content h2 {
  font-size: 18px;
  padding: 30px 0 0;
  margin: 0;
  color: rgb(196, 58, 80);
}

.oh-table {
  margin-top: 10px;
  font-size: 16px;
  text-align: left;
  padding: 0 30px 30px 30px;
}

#openHours {
  text-align: center;
  padding: 20px;
}

.oh-content {
  padding: 0 0 0 0;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2),
    30px 30px 50px 0 rgba(0, 0, 0, 0.06);
  transition: boxShadow 0.6s;
  position: relative;
  background: white;
  overflow: hidden;
}

.oh-edit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
}

.oh-edit:hover {
  color: #e4e4e4;
}

.oh-table tr td {
  padding: 5px 0;
}

.oh-table tr td:nth-child(1) {
  padding-right: 20px;
}
