* {
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	--light: rgb(243,244,246);
	--dark: rgb(0,0,0);
};

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
	font-family: "Cardo", serif;
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: inherit;
}

.fas.fa-bars {
	display: none;
}

header span {
	font-family: "Kaushan Script", serif;
	font-size: 3rem;
	padding-left: 5%;
}

header span,
header ul,
header button {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

header ul {
	margin-top: 2rem;
}

header ul,
header button {
	font-family: "Cardo", serif;
	font-weight: 700;
	font-size: 1.2rem;
	text-transform: uppercase;
}

header ul {
	padding-left: 10%;
}

.time {
	text-transform: uppercase;
	color: white;
	text-shadow: 0px 0px 10px #000000;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

h1 {
	font-size: 5em;
	color: white;
	text-shadow: 0px 0px 20px #000000;
}

.top *{
	text-transform: uppercase;
	color: white;
	text-shadow: 0px 0px 4px grey;
	/*border: 2px solid magenta;*/
}

.top a,
.story button,
.promo button,
.book button {
	position: relative;
	top: 26px;
	background: black;
	padding: 1.5rem 2rem;
	font-size: 1.2rem;
	color: white;
	text-transform: uppercase;
	font-family: "Cardo", serif;
	border: none;
	margin-bottom: 30px;
}

.book button {
	background: white;
	color: black;
	margin-top: 0px;
}

.story h1,
.promo p,
.gallery h2,
.gallery span {
	color: black;
	text-shadow: none;
	font-size: 2em;
	margin: 20px 0;
	text-transform: uppercase;
}

.promo p {
	margin: 0;
}

.promo h3 {
	margin-top: 40px;
}

.promo span {
	font-weight: 700;
}

.about h2 {
	margin: 20px 0;
	font-weight: 700;
}

.about p,
.story p, 
.staff span {
	font-family: "Open Sans", sans-serif;
	font-size: 1.3rem;
	line-height: 2rem;
}
/**** layout styles ****/
header {
	/*border: 2px solid magenta;*/
}

header *{
	float: left;
	/*border: 2px solid orange;*/
}

header span,
header button {
	width: 15%;
}

header ul {
	width: 70%;
}

header li {
	padding: 0 2%;
	padding-bottom: 15px;
}

.top {
	/*border: 2px solid cyan;*/
	padding: 30px 20%;
	position: relative;
	height: 600px;
}

.top h1{
	padding-top: 100px;
}

.time {
	position: absolute;
	top: 200px;
	right: -50px;
	/*border: 2px solid yellow;*/
	transform: rotate(90deg);
}

.arrow {
	display: inline-block;
	position: absolute;
	bottom: 80px;
	right: 80px;
	color: black;
	background: white;
	padding: 10px;
	border-radius: 100%;
}

.arrow + .arrow {
	right: 120px;
}

.book {
	position: absolute;
	/*border: 2px solid yellow;*/
	top: 50rem;
	left: 15%;
	width: 15em;
	background: black;
	color: white;
	line-height: 2em;
	padding-bottom: 20px;
}

.book h3 {
	padding-left: 10px;
	margin: 0;
	border-left: 5px solid white;
}

.book *{
	padding: 10px;
	margin: 20px;
	text-transform: uppercase;
}

.book p span {
	padding: 0;
	margin: 0;
	font-size: 2.5rem;
	font-weight: 700;
}

.about {
	overflow: auto;
	/*border: 2px solid hotpink;*/
	padding: 0 10%;
}

.about section {
	/*border: 2px solid green;*/
	float: left;
	width: 33.3333%;
	padding: 5%;
	text-align: center;
}

.top,
.story,
.staff,
.gallery,
.promo,
.about {
	padding: 10px 15%;
}

.promo *{
	padding-left: 10%;
}

.promo span {
	padding-left: 0;
}

.promo button {
	margin-left: 10%;
}

.promo *,
.promo p{
	color: white;
}

.story {
	/*border: 2px solid lime;*/
	background: var(--light);
	overflow: auto;
}

.story section {
	width: 50%;
	float: left;
	padding-right: 10%;
	/*border: 2px solid pink;*/
}

.story img {
	float: right;
	width: 50%;
	bottom: 50px;
	/*border: 2px solid pink;*/
}

.staff {
	/*border: 2px solid grey;*/
	overflow: auto;
	text-align: center;
}

.staff section {
	/*border: 2px solid yellow;*/
	float: left;
	width: 33.3333%;
	padding: 10px;
}

.staff img {
	width: 100%;
	padding: 10px;
	overflow: hidden;
}

.staff section section {
	width: 100%;
	height: 6rem;
	background: black;
	color: white;
	padding: 5%;
	position: relative;
	bottom: 40px;
	left: 20px;
}

.staff span {
	width: 100%;
}

.promo {
	/*border: 2px solid purple;*/
	padding: 30px 0;
	height: 250px;
}
.gallery {
	/*border: 2px solid green;*/
	text-align: center;
}

.small {
	width: 100%;
	height: 20vw;
	/*border: 2px solid black;*/
}

.med {
	width: 100%;
	height: 40vw;
	/*border: 2px solid blue;*/
}

.container {
	overflow: auto;
}

.container *{
	padding: 5px;
}

.column > section {
	margin-top: 10px;
}

.column {
	width: 33.3333%;
	float: left;
}

.move {
	position: relative;
	bottom: 600px;
}


/**** other styles ***/

header button {
	background: none;
	border: none;
	padding-top: 1.4rem;
}
.about span {
	/*border: 2px solid pink;*/
	display: block;
	width: 5rem;
	height: 5rem;
	background: var(--light);
	border-radius: 100%;
	position: relative;
	z-index: -1;
	bottom: 55px;
	left: 30%;
}

.about i {
	font-size: 4rem;
}

.top {
	background: url("https://mviolet.github.io/images-repo/hair%20salon/main.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 84vw;
}

.promo {
	background: url("https://mviolet.github.io/images-repo/hair%20salon/promo01.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.tl {
	background: url("https://source.unsplash.com/GnEEGwCFONI");
	background-repeat: no-repeat;
	background-size: cover;
}
.bl {
	background: url("https://source.unsplash.com/PrXsOoAYqgg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.tc {
	background: url("https://source.unsplash.com/PD2RYMtsGhc");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 20%;
}
.bc {
	background: url("https://source.unsplash.com/7OMJMlwNkG4");
	background-repeat: no-repeat;
	background-size: cover;
}
.tr {
	background: url("https://source.unsplash.com/dnL6ZIpht2s");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.br {
	background: url("https://source.unsplash.com/q3J0j6pNxrc");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 20%;
}

/**** media queries ****/
@media screen and (max-width: 900px) {
	.book {
		position: static;
		width: 100%;
	}

	.story img {
		display: none;
	}

	.story section{
		width: 100%;
	}

	.book * {
		margin: 0;
		padding: 20px;
	}

	.book button {
		position: relative;
		left: 5%;
	}
}

@media screen and (max-width: 670px) {

	.fas.fa-bars {
		float: right;
/*     visibility: inherit; */
		display: inline-block;
		width: 15%;
		/*border: 2px solid grey;*/
		padding: 20px;
	}

	header span {
		width: 85%;
	}

	header *{
		/*border: 2px solid lime;*/
	}

	.top h1 {
		font-size: 6rem;
	}

	.about section {
		width: 100%;
	}

	.about h2 {
		margin-top: 0;
		padding-top: 0;
	}

	.about i {
		margin-bottom: 10px;
		font-size: 5rem;
	}

	.about span {
		display: none;
	}

	.staff {
		display: none;
	}

	header ul,
	header button {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	.top h1 {
		font-size: 4rem;
	}
}